@using ArchiveWeb.Models
@model ArchiveWeb.Models.Document

@{
    ViewBag.Title = "Прием документа";
    Layout = "~/Views/Shared/_Editor.cshtml";
}

@section PanelHead
{
    Прием документа
}


@section PanelBody
{

    @using (Html.BeginForm("Add", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", role = "form" }))
    {
        <div class="form-group">
            <label class="col-lg-2 control-label" for="docType">Тип документа</label>
            <div class="col-lg-4">
                @Html.DropDownListFor(m => m.IdDocType, new SelectList(DocType.GetList(), "Id", "Name"), "--выберите тип документа--", new {@class = "form-control required-mark", @id = "docType", required = "required", data_error = "Выберите Тип документа"})
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="docNumber">Номер документа</label>
            <div class="col-lg-4">
                @Html.TextBoxFor(m => m.DocNumber, new { @class = "form-control required-mark", @id = "docNumber", required = "required" })
            </div>
        </div>
        <div id="t2card" style="display: none">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="t2docDate">Дата приема сотрудника</label>
                <div class="col-lg-2">
                    @Html.TextBoxFor(m => m.DocDate, new {@class = "form-control required-mark", @id = "t2docDate", required="required"})
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label" for="fio">ФИО сотрудника</label>
                <div class="col-lg-2">
                    @Html.TextBoxFor(m => m.Surname, new {@class = "form-control required-mark", @id = "surname", placeholder="Фамилия", required = "required"})
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(m => m.Name, new {@class = "form-control required-mark", @id = "name", placeholder = "Имя", required = "required"})
                </div>
                <div class="col-lg-2">
                    @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control required-mark", @id = "patronymic", placeholder = "Отчетсво", required = "required" })
                </div>
            </div>
        </div>
        <div id="common" style="display: none">
            <div class="form-group">
                <label class="col-lg-2 control-label" for="docDate">Дата документа</label>
                <div class="col-lg-2">
                    @Html.TextBoxFor(m => m.DocDate, new {@class = "form-control required-mark", @id = "docDate", required="required"})
                </div>
            </div>
            <div class="form-group no-marg-bot">
                <label class="col-lg-2 control-label" for="docContractor">Контрагент</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <div class="input-group-btn" style="width: 150px; vertical-align: top;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="поиск" id="ctrSearch"/>
                                <div class="input-group-btn">
                                    <a href="#!"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                        </div>
                        <div>
                            @Html.DropDownListFor(m => m.ContractorUid, new SelectList(new List<string>()), "--введите поиск--", new {@class = "form-control required-mark text-sm", @id = "docContractor", required = "required", data_error = "Выберите Контрагента"})
                            <p>
                                <small id="contractorFullName">&nbsp;</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group no-marg-bot">
            <label class="col-lg-2 control-label" for="organization">Юр. лицо Юнит</label>
            <div class="col-lg-10">
                <div class="input-group">
                    <div class="input-group-btn" style="width: 150px; vertical-align: top;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="поиск" id="orgSearch" />
                            <div class="input-group-btn">
                                <a href="#!"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                    @Html.DropDownListFor(m => m.OrganizationUid, new SelectList(new List<string>()), "--введите поиск--", new { @class = "form-control required-mark text-sm", @id = "organization", required = "required", data_error = "Выберите Юр. лицо Юнит" })
                    <p>
                        <small id="organizationFullName">&nbsp;</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label" for="sheetCount">Количество листов</label>
            <div class="col-lg-2">
                @Html.TextBoxFor(m => m.SheetCount, new { @class = "form-control required-mark", @id = "sheetCount", required="required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Скан</label>
            <div class="col-lg-5">
                <input type="file" name="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-push-2 col-lg-5">
                @*<a type="submit" class="btn btn-primary btn-sm" href="#"><i class="fa fa-save"></i>&nbsp;добавить</a>*@
                <a class="btn btn-primary btn-sm" href="@Url.Action("Index")">Назад</a>
                <button id="btnCreateAndFill" type="submit" class="btn btn-success" name="CreateAndFill" value="CreateAndFill"><i class="fa fa-save"></i>&nbsp;Сохранить и положить</button>
                @*<button id="btnCreateAndClose" type="submit" class="btn btn-success" name="CreateAndClose" value="CreateAndClose"><i class="fa fa-save"></i>&nbsp;Сохранить и закрыть</button>
                <button id="btnCreateAndContinue" type="submit" class="btn btn-success" name="CreateAndContinue" value="CreateAndContinue"><i class="fa fa-save"></i>&nbsp;Сохранить и продолжить</button>*@
            </div>
        </div>
        if (TempData["error"] != null)
         {
             <div class="form-group">
                 <div class="col-lg-push-2 col-lg-5">
                     <blockquote class="alert-danger">@TempData["error"]</blockquote>
                 </div>
             </div>
         }
    }
}

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('#docType').change(formDisplay);

            $('#docDate').datepicker({
                autoclose: true,
                todayBtn: "linked",
                language: "ru"
            });
            $('#t2docDate').datepicker({
                autoclose: true,
                todayBtn: "linked",
                language: "ru"
            });
            $('#ctrSearch').keypress(function(e) {
                if (e.which !== 13) return;
                ctrSearch(e);
            });
            $('#ctrSearch').on('input', ctrSearch);
            $('#orgSearch').keypress(function(e) {
                if (e.which !== 13) return;
                orgSearch(e);
            });
            $('#orgSearch').on('input', orgSearch);
            $('#docContractor').change(function() {
                var uid = $('#docContractor').val();
                $('#contractorFullName').html('&nbsp;');
                $.ajax({
                    url: '@Url.Action("GetContractorFullName")',
                    method: 'POST',
                    data: { uid: uid },
                    success: function (data) {
                        $('#contractorFullName').text(data);
                    }
                });
            });
            $('#organization').change(function () {
                var uid = $('#organization').val();
                $('#organizationFullName').html('&nbsp;');
                $.ajax({
                    url: '@Url.Action("GetContractorFullName")',
                    method: 'POST',
                    data: { uid: uid },
                    success: function (data) {
                        $('#organizationFullName').text(data);
                    }
                });
            });
        });

        function formDisplay() {
            var type = $(this).val();
            var $t2card = $('#t2card');
            var $common = $('#common');
            if (type == 7) {
                $t2card.show();
                $common.hide();
                $('[required="required"]', $common).removeAttr('required');
                $('.required-mark', $t2card).attr('required', 'required');
                return;
            }
            $t2card.hide();
            $common.show();
            $('[required="required"]', $t2card).removeAttr('required');
            $('.required-mark', $common).attr('required', 'required');
        }

        function orgSearch(e) {
            var $select = $('#organization');
            $select.find('option').remove();
            var ctr = $('#orgSearch').val();
            $('#organizationFullName').html('&nbsp;');
            if (ctr != '' && ctr.length >= 3) {
                $.ajax({
                    url: '@Url.Action("GetContractorList")',
                    method: 'POST',
                    data: { name: ctr },
                    success: function (data) {
                        $select.find('option').remove();
                        if (data.length > 0) {
                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                var opt = '<option value="' + item.Key + '">' + item.Value + '</option>';
                                $select.append(opt);
                            }
                        } else {
                            $select.append('<option value="">ничего не найдено</option>');
                        }
                        $select.change();
                    }
                });
            }
        }

        function ctrSearch(e) {
            var $ctrElem = $('#docContractor');
            $ctrElem.find('option').remove();
            var ctr = $('#ctrSearch').val();
            $('#contractorFullName').text('&nbsp;');
            if (ctr != '' && ctr.length >= 3) {
                $.ajax({
                    url: '@Url.Action("GetContractorList")',
                    method: 'POST',
                    data: { name: ctr },
                    success: function(data) {
                        if (data.length > 0) {
                            $ctrElem.find('option').remove();
                            for (var i = 0; i < data.length; i++) {
                                var item = data[i];
                                var opt = '<option value="' + item.Key + '">' + item.Value + '</option>';
                                $ctrElem.append(opt);
                            }
                        } else {
                            $ctrElem.append('<option value="">ничего не найдено</option>');
                        }
                        $ctrElem.change();
                    }
                });
            }
        }
    </script>
}
